@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&family=Questrial&display=swap');

/* --------------------------------------------- main styles for all pages */

footer{
    background: #2e3f3d;
    color:#E7D49E;
}

/* styling classes */

a:hover{
    text-decoration: none;

}
   
.main-font{
    font-family:KoHo, sans-serif;
}

.dark-font{
    color:#425B58
}

.light-font{
    color:#E7D49E
}


.main-font-light {
    font-family: KoHo, sans-serif;
    color: #E7D49E
}


.sub-font {
    font-family: Questrial, sans-serif;

}
.sub-font-dark{
    font-family: Questrial, sans-serif;
    color:#927242;
}

.sub-font-grey{
    font-family: Questrial, sans-serif;
    color: #425B58;
}


.uppercase{
    text-transform: uppercase;
}

.toggler{
    font-size: 30px;
    color:#E7D49E;
}

/* nav styles */

.country-hotel-navbar {
    background: #425B58;
    height: 120px;
    width:100%;
    border-bottom:solid #2e3f3d 3px;
    color:#E7D49E;
    padding-right: 0;
    position:fixed;
    z-index:1;
}

.navbar-collapse{
    background: #425B58;
    z-index: 1;
}

.nav-img{
    height:110px;
    width:300px;
}


.nav-fonts{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: KoHo, sans-serif;
    font-weight: 400;
}

.nav-item{
    padding-top:20px;
    height:110px;
    width:150px;
    text-align: center;
}


.nav-link:hover{
    background:#E7D49E;
    color:#425B58;
    height:95px;
    width:100%;
    margin-left:0;
    border-radius: 5px;
}

.active{
    background: #2e3f3d;
    color: #E7D49E;
    height: 95px;
    width: 100%;
    margin-left: 0;
    border-radius: 5px;
}

.dropdown-menu{
    background: #425B58;
}

.dropdown-menu h6{
    font-family: KoHo, sans-serif;
    color: #E7D49E;
}

.dropdown-item:hover{
    color:#E7D49E;
    background: #425B58;
}

/* blank space behind fixed navbar */

.space-box{
    width:100%;
    height:120px;
    position: relative;
 }

/* tablet device navbar (all pages) */

@media screen and (max-width: 943px) {

    .country-hotel-navbar {
        padding-right: 20px;
        }

    .nav-img {
        height: 70px;
        width: 180px;
        margin-top: 5px;
        margin-left: 0;
    }

    .nav-item {
        padding: 30px;
        height: 70px;
        width: 100px;
        text-align: center;
    }

    .nav-fonts {
        font-size: small;
        font-family: KoHo, sans-serif;
        font-weight: 300;
    }

    .nav-link{
        height:inherit;
        width: inherit;
        padding-bottom: 30px;
    }

    .nav-link:hover {
        background: #E7D49E;
        color: #425B58;
        height: 20px;
        width:100px;
    }

    .dropdown-menu {
        background: #425B58;
        width:100px;
        border:0;
        z-index: 1;
    }
    
    .dropdown-menu h6 {
        font-family: KoHo, sans-serif;
        font-size:12px;
        color: #E7D49E;
    }

    .active {
        border:0;
    }

    .footer-mobile-text{
        font-size:xx-small;
    }

    .footer-mobile-text-header{
        font-size: 12px;
    }

    .footer-image{
        width:80px;
        height:40px;
    }
}

.navbar-toggler{
    font-weight: 200;
}


.navbar-toggler:focus{
    outline:none;
}


/* footer */

.footer-theme{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #2e3f3d;
}

.footer-image{
    width:100px;
    height:50px;
    position: relative;
}

.footer-text{
    text-align: center;
    margin:20px;
}

.footer-sub-text {
    text-align: center;
    margin: 0,20px;
}

.footer-social-links{
    float:center;
}

.social-link{
    font-size: 1.25rem;
    margin:5px;
}

.social-link:hover {
    color:#927242;
}

/* ------------------------------------------------------------------- styles for home page */

.hero-image{
    height: 400px;
    width: 100%;
    position: relative;
    background-image: url("../images/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.opaque{
    width: 100%;
    height: 400px;
    background: rgba(66, 91, 88, 0.4);
    position: relative;
}

.hero-about{
    background: rgba(66, 91, 88, 0.2);
    width:300px;
    height:250px;
    top:150px;
    position: absolute;
}

.hero-about h2{
    font-family:KoHo, sans-serif;
    color:#E7D49E;
    font-size:48px;
    font-weight: 600;
    text-align: center;
}

.hero-hr{
    width:150px;
    border:solid 3px #E7D49E;
    margin:0 72px 16px;
}

.hero-about p{
    font-family: Questrial, sans-serif;
    font-weight:400;
    color: #F0F1C5;
    text-align: center;
    font-size:24px;
}

.btn-hero-about{
    background: #425B58;
    color: #E7D49E;
    font-family: KoHo, sans-serif;
    font-size: 1.2rem;
    border: solid 1px #E7D49E;
    position: absolute;
    left: 87px;
    bottom: 5px;
}

.btn-hero-about:hover{
    background: #E7D49E;
    color:#425B58
}


.hotel-image-link {
    background-image: url("../images/hotel-image.jpg");
}

.restaurant-image-link {
    background-image: url("../images/restaurant-image.jpg");
}

.hotel-image-link,
.restaurant-image-link{
    height: 300px;
    width: 45%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-size 3s ease-in-out;
    margin-top:10px;
    right:0;
    left:0;
    top:20px;
    padding:0;
}

.hotel-image-link:hover,
.restaurant-image-link:hover{
    background-size: 120%;
}

.hotel-link{
    background: rgba(66, 91, 88, 0.2);
    color: #E7D49E;
    text-align: center;
    font-family: KoHo, sans-serif;
    font-weight: bold;
    height:300px;
    border-radius: 5px;
}

.hotel-link h2{
    background: rgba(66, 91, 88, 0.6);
}

/* feature icons */

.feature-icons{
    position:relative;
    background: #425b58;
    top:5px;
    height:160px;
    padding-top: 20px;
    
}

.feature-icons i{
    color: #E7D49E;
    font-size: 2rem;
    margin-left:40px;
    padding:20px;
}

.feature-icons p{
    color:#E7D49E;
    font-size: 1rem;
    text-align: center;
}
/* about section */

.main-about-parent{
    display: flex;
    justify-content: center;
}

.main-about{
    width:800px;
    color:#425B58;
    font-size: 1.25rem;
    background: #F0F1C5;
    border:solid 1px #425B58;
    border-radius:5px;
    position: relative;
    margin-top:40px;
    padding:10px;
}

.main-about h1{
    text-align:center;
    font-family: KoHo, sans-serif;
}

.main-about p{
    text-align:justify;
    font-family: Questrial, sans-serif;
    font-weight: 400;
}

/* location and map */

.location-parent{
    display: flex;
    justify-content: center;
}

.location{
    width:80%;
    position:relative;
    margin-top:60px;
    background: #F0F1C5;
    text-align:center;
    color:#2e3f3d;
}

.location h2{
    padding: 30px 20px 20px 20px;
}

.location p{
    padding:0;
    margin:0;
}

iframe{
    position: inherit;
}

/* reveiws section */

.reveiws{
    margin-top: 100px;
    margin-left:50px;
}

.reveiws h1{
    text-align: center;
}

.date{
    font-weight: 700;
    letter-spacing: 2px;
}

h4 img{
    height:50px;
    height:50px;
    border:solid 1px #2e3f3d;
    border-radius:50%;
}

/* review star design */

.fa-star{
    color:#425B58;
}

.checked{
    color:#E7D49E;
}

/* tablet sized device home page */

@media screen and (max-width: 943px){
    
    .hero-about {
        background: rgba(66, 91, 88, 0.2);
        width: 240px;
        height: 230px;
        top: 150px;
        right:260px;
        position: absolute;
        }

    .hero-about h2 {
        font-size: 24px;
        font-weight: 400;
        }
        
    .hero-hr {
        width: 120px;
        border: solid 2px #E7D49E;
        margin: 0 60px 16px;
        }
        
    .hero-about p {
        font-size: 20px;
        }
        
    .btn-hero-about {
        font-size: 1rem;
        border: solid 0.5px #E7D49E;
        position: absolute;
        left: 70px;
        bottom: 20px;
        }

    .hotel-image-link,
    .restaurant-image-link {
        margin: 20px 350x;
        width: 100%;
        }

    /* about section */
    
    .main-about {
        width: 500px;
        font-size: 1rem;
        position: relative;
        top: 50px;
        padding: 10px;
    }

    /* location and map */
    
    .location {
        width: 500px;
        position: relative;
        top: 80px;
        border:#425B58 solid 1px;
        border-radius: 5px;
        }
    
}

/* mobile sized device home page */
@media screen and (max-width: 600px) {

    .hero-about {
        background: rgba(66, 91, 88, 0.2);
        width: 210px;
        height: 200px;
        top: 150px;
        right: 100px;
        position: absolute;
    }

    .hero-about h2 {
        font-size: 22px;
        font-weight: 400;
    }

    .hero-hr {
        width: 100px;
        border: solid 2px #E7D49E;
        margin: 0 55px 16px;
    }

    .hero-about p {
        font-size: 18px;
    }

    .btn-hero-about {
        font-size: 1rem;
        border: solid 0.5px #E7D49E;
        position: absolute;
        left: 50px;
        bottom: -5px;
    }

    .hotel-image-link,
    .restaurant-image-link {
        margin: 20px;
        width: 100%;
    }

    /* about section */

    .main-about {
        width: 415px;
        font-size: 1rem;
        position: relative;
        top: 50px;
        padding: 10px;
    }

    /* location and map */

    .location {
        width: 415px;
        position: relative;
        top: 60px;
        border: #425B58 solid 1px;
        border-radius: 5px;
    }

}

/* -------------------------------------------------------------- styles for hotel page */

.hero-image-hotel-page {
    height: 500px;
    width: 100%;
    position: relative;
    background-image: url("../images/hotel-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.opaque-hotel{
    width: 100%;
    height: 500px;
    background: rgba(66, 91, 88, 0.4);
    position: relative;
}

.hero-hotel-info{
    background: rgba(66, 91, 88, 0.4);
    width: 400px;
    height: 350px;
    margin-top: 150px;
    position: absolute;
    padding:10px;
}

.hero-hotel-info p{
    font-family: Questrial, sans-serif;
    font-weight: 400;
    color: #F0F1C5;
    text-align: center;
    font-size: 24px;
}

.btn-hero-hotel-info{
    background: #425B58;
    color: #E7D49E;
    font-family: KoHo, sans-serif;
    font-size: 1.2rem;
    border: solid 1px #E7D49E;
    position: absolute;
    left: 120px;
    bottom: 75px;
}

.btn-garden{
    background: #425B58;
    color: #E7D49E;
    font-family: KoHo, sans-serif;
    font-size: 1.2rem;
    border: solid 1px #E7D49E;
    position: absolute;
    bottom:5px;
    left: 125px;
    bottom: 10px;
}

.btn-hero-hotel-info:hover,
.btn-garden:hover{
    background: #E7D49E;
    color: #425B58
}

.bed-info{
    background: #E7D49E;
}

.bedroom-header{
    margin-left: 25px;
    margin-right: 0;
    padding: 30px 0;
    text-align: center
}

#bedroom-select{
    width:96%;
}

.king-image{
    background-image: url("../images/king-bed.jpg");
    right: 2px;
}

.double-image {
    background-image: url("../images/double-bed.jpg");
    background-size: 110%;
    right:1px;
}

.twin-image {
    background-image: url("../images/twin-bed.jpg");
}

.king-image,
.twin-image{
    background-size: 100%;
}


.king-image,
.double-image,
.twin-image {
    height: 300px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 2s ease-in;
    border:solid #425B58 5px;
    padding: 2px;
}

.king-image a,
.double-image a,
.twin-image a{
    display:inline-block;
    height: 300px;
    width: 450px;
}

.king-image:hover,
.double-image:hover,
.twin-image:hover{
    background-size: 120%;
}

.bed-info-parent{
    display: flex;
    justify-content: center;
}

.king-description{
    width: 900px;
    height: 1200px;
    font-size: 18px;
    position: relative;
    margin-top: 50px;
    padding: 20px;
    background: #F0F1C5;
     }


.bed-description{
    width:900px;
    height:900px;
    font-size:18px;
    position: relative;
    margin-top:50px;
    padding:20px;
    background: #F0F1C5;
}

.bed-description h1,
.king-description h1{
    text-align: center;
    margin:20px 0;
}

/* icon size */

article i{
    font-size: x-large;
}

.king-description p{
    text-align: justify;
    font-size: 18px;
}

.bathroom-image{
    background-image: url("../images/hotel-bathroom.jpg");
    margin-right: 100px;
    margin-left: 100px;
}

.snacks-image{
    background-image: url("../images/hotel-snacks.jpg");
    margin-left: 100px;
    margin-right: 100px;
}

.bathroom-image,
.snacks-image{
    width: 230px;
    height: 300px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid #425B58 5px;
    padding: 2px;
    float:left;
}

/* second double bed image */

.double-two {
    background-image: url("/assets/images/double-bed-2.jpg");
    width: 300px;
    height: 230px;
}

.book{
    background-image: url("/assets/images/book.jpg");
    width: 300px;
    height: 180px;
}

.double-two,
.book{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid #425B58 5px;
    padding: 2px;
    margin-left: 280px;
}


/* logo-page-breaker */

.logo-page-breaker{
    background: #2e3f3d;
    width:900px;
    height:200px;
    position: relative;
    margin-top: 20px;
    padding: 20px;
}

.logo-page-breaker-image{
    background-image: url("/assets/images/footer-logo.png");
    height: 160px;
    width: 290px;
    margin-left: 280px;
}

/* styles for garden section */

.garden-info{
    width: 900px;
    height: 300px;
    position: relative;
    margin-top: 20px;
    padding: 60px;
    background: #F0F1C5;
}

.garden-info h2{
    text-align: center;
}

.garden-info p{
    text-align: justify;
    font-size: 1.25rem;
}

.ground-pic{
    background-image: url("../images/hotel-grounds.jpg");
}

.flower-pic{
    background-image: url("../images/hotel-flower-garden.jpg");
}

.trees-pic{
    background-image: url("../images/hotel-garden-trees.jpg");
}

.bird-pic{
    background-image: url("../images/hotel-garden-bird.jpg");
}

.fountain-pic {
    background-image: url("../images/garden-fountain.jpg");
}

.picnic-pic {
    background-image: url("../images/garden-picnic.jpg");
}

.ground-pic,
.flower-pic,
.trees-pic,
.bird-pic,
.fountain-pic,
.picnic-pic{
    width:400px;
    height:280px;
    border:solid 3px #425B58;
    position: relative;
    margin: 20px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* mobile sized device hotel page */

@media screen and (max-width: 1024px){
    .hero-hotel-info {
        background: rgba(66, 91, 88, 0.4);
        width: 280px;
        height: 260px;
        top: 80px;
        position: absolute;
        padding: 10px;
        }
    
        .hero-hotel-info p {
            font-family: Questrial, sans-serif;
            font-weight: 300;
            color: #F0F1C5;
            text-align: center;
            font-size: 18px;
        }
    
        .btn-hero-hotel-info {
            background: #425B58;
            color: #E7D49E;
            height:35px;
            width: 138px;
            font-family: KoHo, sans-serif;
            text-align: center;
            font-size: 14px;
            padding-top: 6px;
            padding-bottom: 4px;
            border: solid 1px #E7D49E;
            position: absolute;
            left: 80px;
            bottom: 50px;
        }
    
        .btn-garden {
            background: #425B58;
            color: #E7D49E;
            height:35px;
            width: 138px;
            font-family: KoHo, sans-serif;
            text-align: center;
            font-size: 14px;
            padding-top: 6px;
            padding-bottom: 4px;
            border: solid 1px #E7D49E;
            position: absolute;
            bottom: 5px;
            left: 80px;
        }

        .king-image,
        .double-image,
        .twin-image{
            height: 180px;
        }
    
        .king-description {
            width: 95%;
            height: 1150px;
            font-size: 16px;
            position: relative;
            margin-top: 20px;
            padding: 15px;
            background: #F0F1C5;
        }
    
    
        .bed-description {
            width: 95%;
            height: 850px;
            font-size: 16px;
            position: relative;
            margin-top: 20px;
            padding: 15px;
            background: #F0F1C5;
        }
    
        .bed-description h1,
        .king-description h1 {
            text-align: center;
            margin: 15px 0;
        }
    
        /* icon size */
    
        article i {
            font-size: x-large;
        }
    
        .king-description p {
            text-align: justify;
            font-size: 16px;
        }
    
        .bathroom-image {
            margin-right: 50px;
            margin-left: 150px;
        }
    
        .snacks-image {
            margin-left: 50px;
            margin-right: 50px;
        }
    
        .bathroom-image,
        .snacks-image {
            width: 210px;
            height: 280px;
            position: relative;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: solid #425B58 5px;
            padding: 2px;
            float: left;
        }
    
        /* second double bed image */
    
        .double-two {
            width: 280px;
            height: 210px;
        }
    
        .book {
            width: 280px;
            height: 160px;
        }
    
        .double-two,
        .book {
            position: relative;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: solid #425B58 5px;
            padding: 2px;
            margin-left: 230px;
        }
    
    
        /* logo-page-breaker */
    
        .logo-page-breaker {
            background: #2e3f3d;
            width: 95%;
            height: 200px;
            position: relative;
            margin-top: 20px;
            padding: 20px;
        }
    
        .logo-page-breaker-image {
            background-image: url("/assets/images/footer-logo.png");
            height: 160px;
            width: 290px;
            margin-left: 220px;
        }
    
        /* styles for garden section */
    
        .garden-info {
            width: 95%;
            height: 300px;
            position: relative;
            margin-top: 20px;
            padding: 60px;
            background: #F0F1C5;
        }

        .grounds-gallery{
            width:95%;
            padding-right: 30px;
        }
    
        .ground-pic,
        .flower-pic,
        .trees-pic,
        .bird-pic,
        .fountain-pic,
        .picnic-pic {
            width: 230px;
            height: 135px;
            border: solid 3px #425B58;
            position: relative;
            margin: 10px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
}

/* mobile sized device hotel page */

@media screen and (max-width: 600px) {
    .hero-hotel-info {
        background: rgba(66, 91, 88, 0.4);
        width: 300px;
        height: 280px;
        top: 50px;
        position: absolute;
        padding: 10px;
    }

    .king-description {
        height: 1400px;
    }

    .bed-description {
        width: 95%;
        height: 1030px;
    }

    .bed-description h1,
    .king-description h1 {
        margin: 0;
    }

    .bathroom-image {
        margin-left: 80px;
        width: 210px;
        height: 280px;
    }

    /* second double bed image */

    .double-two {
        width: 280px;
        height: 210px;
    }

    .book {
        width: 280px;
        height: 160px;
    }

    .double-two,
    .book {
        margin-left: 50px;
    }


    /* logo-page-breaker */

    .logo-page-breaker-image {
        margin-left: 50px;
    }

    /* styles for garden section */

    .garden-info {
        height: 450px;
    }

    .grounds-gallery {
        width: 95%;
        padding-right: 0;
        margin-top: 35px;
    }

    .ground-pic,
    .flower-pic,
    .trees-pic,
    .bird-pic,
    .fountain-pic,
    .picnic-pic {
        width: 175px;
        height: 100px;
        padding:0;
        margin:5px;
    }
}


/* ---------------------------------------------------------------- styles for restuarant page */

.hero-image-restaurant-page{
    background-image: url("/assets/images/restaurant-image.jpg");
    height: 500px;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.hero-restaurant-info {
    background: rgba(66, 91, 88, 0.3);
    color:#E7D49E;
    font-size:24px;
    text-align:center;
    width: 380px;
    height: 350px;
    top: 100px;
    position: absolute;
    padding: 20px;
}

.btn-menu{
    background: #425B58;
    color: #E7D49E;
    font-family: KoHo, sans-serif;
    font-size: 1.2rem;
    border: solid 1px #E7D49E;
    position: absolute;
    left: 152px;
    bottom: 10px;
}

.chef-image{
    background-image: url("/assets/images/chef.png");
    width: 400px;
    height: 300px;
    position: relative;
    top: 10px;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.about-image{
    background-image: url("/assets/images/restaurant-about.jpg");
    width: 500px;
    height: 300px;
    position: relative;
    top: 10px;
    left:10px;
    margin: 10px;
    border:solid 3px #425B58;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.restaurant-info-row{
    margin:0;
}

.chef-about{
    background:#425B58;
}

.chef-about,
.restaurant-about{
    width:100%;
    margin: 20px;
    padding:40px;
    text-align: justify;
    font-size: 1.2rem;
}

.chef-about h2{
    border-bottom: solid 3px #E7D49E;
}

.restaurant-about h2{
    border-bottom: solid 3px #425B58;
}

.chef-about h2,
.restaurant-about h2{
    margin:20px 0;
    font-size: 2rem;
    padding-bottom: 10px;
}

.menu-image{
    border: solid 3px #425B58;
    margin: 20px 10px;
    width: 100%;
    height: 250px;
    position: relative;
    transition: background-size 2s ease-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.menu-image:hover{
    background-size: 120%;
}

.menu-1{
    background-image: url("/assets/images/steak.jpg");
    
}

.menu-second{
    background-image: url("/assets/images/roast-beef.jpg");
}

.menu-1-2{
    background-image: url("/assets/images/beef-wellington.jpg");
}

.menu-2{
    background-image: url("/assets/images/salmon.jpg");
}

.menu-2-1{
    background-image: url("/assets/images/sea-bream.jpg");
}

.menu-2-2{
    background-image: url("/assets/images/lobster.jpg");
}

.menu-3{
    background-image: url("/assets/images/pasta.jpg");
} 

.menu-3-1{
    background-image: url("/assets/images/lasagna.jpg");
}

.menu-3-2{
    background-image: url("/assets/images/pizza.jpg");
}

.menu-link{
    background: rgba(66, 91, 88, 0.3);
    width:180px;
    height:80px;
    padding:25px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    top:30px;
    right:0;
}

.menu-link-box{
    background: rgba(231, 212, 158, 0.7)
}

.menu-header{
    text-align: center;
    padding:10px;
    margin:20px;
}

.menu-sub-title{
    text-align:center;
    height:85px;
    padding:20px;
    margin:20px;
    background: #425B58;
}


.menu-description{
    margin: 0 0 20px;
    padding: 10px;
}

.menu-description p{
    font-size: 18px;
}

.menu-description-middle{
    background: #425b58;
    margin:0 0 20px;
    padding:10px;
}

.menu-description-middle p{
    font-size: 18px;
    color:#E7D49E
}

/* tablet sized device restaurant page */

@media screen and (max-width: 943px){

    .hero-restaurant-info {
         right: 25%;
      }
}

/* mobile sized device restaurant page */

@media screen and (max-width: 600px) {

     .hero-restaurant-info {
         right:5%;
      }
}

/* ------------------------------------------------------------------ styles for book page */

.hero-image-book {
    height: 1200px;
    width: 100%;
    position: relative;
    background-image: url("../images/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.opaque-book{
    width: 100%;
    height: 1200px;
    background: rgba(66, 91, 88, 0.4);
    position: relative;
    display: flex;
    justify-content: center;
}

.form-box{
    height:900px;
    width:1000px;
    background:rgba(231, 212, 158, 0.7);
    position: relative;
    top: 80px;
    border:solid 3px #927242;
    border-radius: 5px;
}

.float-left{
    float:left;
}

label{
    display: block;
}

legend h1,
legend h2{
    text-align: center;
    margin-top: 50px;
}

.form-input{
    width:230px;
    font-weight: bold;
    font-size: 18px;
}

input{
    width: 210px;
    height: 40px;
    background: #425B58;
    color: #E7D49E;
    border: solid 2px #927242;
    border-radius: 5px;
}

input:focus{
    background: #E7D49E;
    border: solid 2px #927242;
    color:#2e3f3d;
    font-weight:bold;
}

/* minimise text size for email input, to fit larger email address */

input[type=email]{
    font-size: 0.75rem;
}

input[type=email]:focus{
    font-size:0.75rem;
}

/* change default radio style (credit to w3school) */

.radio input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark{
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #425B58;
    border:solid 2px #927242;
    border-radius: 5px;
}

.checkmark:hover{
    background:#927242;
    border: solid 2px #425B58;
    border-radius:5px
}

.radio input:checked ~ .checkmark {
    background-color: #E7D49E;
    border:solid 2px #927242;
    border-radius: 5px;
}

input[type=submit]{
    position:absolute;
    left:40%;
    top:810px;
    font-family: KoHo, sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}

input[type=reset]{
    position: relative;
    left:62%;
    top:28px;
    width:40px;
    background-image: url("/assets/images/reset-logo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* tablet sized device book page */

@media screen and (max-width: 943px){

    .form-box{
        height:1020px;
        width:70%;
        top: 80px;
    } 

    .tab-mob-radio{
        width:160px;
  }

    legend h6{
       margin-left:25px;
    }

    input[type=submit]{
    top:912px;
    left:23%;
  }
}

/* mobile sized device home page */
@media screen and (max-width: 600px) {
  .hero-image-book {
            height: 1600px;
   }

  .opaque-book{
          height: 1600px;
       }

  .form-box{
         height:1400px;
  }

  input{
    width:260px;
  }

  .tab-mob-radio{
        width:80px;
  }

  input[type=submit]{
    top:1288px;
    left:15%;
    width:136px;
  }
}

/* ------------------------------------------------------------- booking-confirmation-page */

.hero-image-booking{
    width:100%;
    height:100vh;
    position: relative;
    background-image: url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.opaque-booking{
    width:100%;
    height:100vh;
    background: rgba(66, 91, 88, 0.4);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-box{
    height:350px;
    width:800px;
    background:rgba(231, 212, 158, 0.7);
    position: relative;
    border:solid 3px #927242;
    border-radius: 5px;
}

.booking-box article{
    text-align: center;
}

.return-home{
    position: relative;
    text-align: center;
}

/* tablet sized device booking-confirmation page */

@media screen and (max-width: 943px){

    .booking-box{
        width:500px;
    }
}