@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&family=Questrial&display=swap');

/* main page styles */

body{
    
}

header{

}

section{

}

footer{
    background: #2e3f3d;
    color:#E7D49E

}

/* styling classes */

a {
   text-decoration: none;
   color:#E7D49E;
}

a:hover{
    text-decoration: none;

}
   
.main-font{
    font-family:KoHo, sans-serif;
    color: #E7D49E
}

.sub-font{
    font-family: Questrial, sans-serif;
    color:#927242;
}


.uppercase{
    text-transform: uppercase;
}

.toggler{
    font-size: 30px;
    color:#E7D49E;
}

/* nav styles */

.country-hotel-navbar {
    background: #425B58;
    height: 180px;
    color:#E7D49E;
    padding-right: 0;
}

.navbar-collapse{
    background: #425B58;
    z-index: 1;
}
/* .bg-dark{
    background: #425B58;
    height: 180px;
    padding-right: 0;
}

.navbar-dark{
    color: #E7D49E;
} */

.nav-img{
    height:160px;
    width:140px;
    margin-top: 20px;
}


.nav-fonts{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: KoHo, sans-serif;
    font-weight: 400;
}

.nav-item{
    padding-top:80px;
    height:180px;
    width:150px;
    text-align: center;
}


.nav-link:hover{
    background:#E7D49E;
    color:#425B58;
    height:100px;
}

/* mobile devices navbar */

@media screen and (max-width: 943px) {

    .country-hotel-navbar {
        padding-right: 20px;
        }

    .nav-img {
        height: 120px;
        width: 90px;
        margin-top: 5px;
        margin-left: 50%;
    }

    .nav-item {
        padding: 30px;
        height: 70px;
        width: 100px;
        text-align: center;
    }

    .nav-fonts {
        font-size: small;
        font-family: KoHo, sans-serif;
        font-weight: 300;
    }

    .nav-link{
        height:inherit;
        width: inherit;
        padding-bottom: 30px;
    }

    .nav-link:hover {
        background: #E7D49E;
        color: #425B58;
        height: 20px;
    }
}

.navbar-toggler{
    border:0;
}


/* footer */

.footer-theme{
    background: #2e3f3d;
    position: fixed;
    bottom:0;
    z-index:-1;
}

.footer-image{
    width:100px;
    height:50px;
    margin-left: 160px;
}

.footer-text{
    text-align: center;
    margin:20px;
}

.footer-sub-text {
    text-align: center;
    margin: 0,20px;
}

.footer-social-links{
    float:center;
}

.social-link{
    font-size: large;
    margin:5px;
}

.social-link.nav-link:hover {
    font-size: x-large;
    color:#927242;
}