@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&family=Questrial&display=swap');

/* main page styles */

body{
    
}

header{

}

section{

}

footer{
    background: #2e3f3d;
    color:#E7D49E

}

/* styling classes */

a {
   text-decoration: none;
   color:#E7D49E;
}

a:hover{
    text-decoration: none;

}
   



.uppercase{
    text-transform: uppercase;
}


/* nav styles */

.country-hotel-navbar {
    background: #425B58;
    height: 180px;
    color:#E7D49E;
    padding-right: 0;
}

.nav-img{
    height:160px;
    width:140px;
    margin-top: 20px;
}

.nav-fonts{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: KoHo, sans-serif;
    font-weight: 400;
}

.nav-item{
    padding-top:80px;
    height:180px;
    width:150px;
    /* position: absolute; */
    text-align: center;
}


.nav-link:hover{
    background:#E7D49E;
    color:#425B58;
    height:100px;
}
/* footer */

.footer-theme{
    background: #2e3f3d;
}

.footer-social-links{
    float:center;
}